body {}

.head-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-top: 190px;
    margin-bottom: 32px;
    margin-left: 240px;
}

.head-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 240px;
    margin-bottom: 32px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    margin-left: 240px;


}


header {
    background: rgba(229, 84, 115, 0.10);
    border: 0;
}

.head-section {
    display: flex;
    gap: 100px;
}

.profile-pic {
    margin-top: 70px;
    width: 450px;
    height: 550px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;

}

.section-title-no2 {
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
    margin-right: 600px;

}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.three-flowers {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.flower-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 400px;
    margin-left: 210px;
}

.flower-1-photo {
    width: 240px;
    height: 320px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 40px;
}

.flower-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 400px;
}

.flower-2-photo {
    width: 280px;
    height: 330px;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}

.flower-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 350px;
    height: 400px
}

.flower-3-photo {
    width: 260px;
    height: 350px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.caption {
    text-align: center;
}

.benefits {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1090px;
    height: 200px;
    margin-top: 100px;
    margin-left: 210px;
    display: flex;
    justify-content: space-between;
}

.benefit-1 {
    margin-left: 100px;
    margin-top: 50px;
}

.benefit-2 {
    margin-top: 50px;
}

.benefit-3 {
    margin-top: 50px;
    margin-right: 100px;
}

.info {
    text-align: center;
}

.benefit-1-photo {
    margin-left: 50px;
}

.benefit-2-photo {
    margin-left: 60px;
}

.benefit-3-photo {
    margin-left: 60px;
}

.sale-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 350px;
    margin-top: 100px;
    display: flex;
}

.sale-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.sale-primary {
    padding-top: 50px;
    padding-left: 200px;

}

.sale-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0%;

}

.pink {
    color: #E55473;
}
.sign-up{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    margin-left: 50px;

}
.discount-photo {
    width: 200;
    height: 300px;
    padding-left: 200px;
    padding-top: 50px;
}

.sale-span {
    padding-left: 80px;
}

.instagram {
    width: 1500px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 70px;

}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
}

.insta-images-class {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.insta-images {
    padding: 10px;
}

.insta-image-1 {
    width: 260px;
    height: 300px;
}

.insta-image-2 {
    width: 260px;
    height: 300px;
}

.insta-image-3 {
    width: 260px;
    height: 300px;
}

.insta-image-4 {
    width: 260px;
    height: 300px;
}

.detail-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.detail-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section {
    background-image: url('images/Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1100px;
    height: 500px;
    margin-left: 210px;
}

.detail-title {
    padding-top: 100px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.detail-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;

}

.form-div {
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.button-div {
    text-align: center;
}

.footer-title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    margin-top: 50px;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   
}

.small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}

.footer-section {
    background: #111010;
    width: 1500px;
    height: 500px;
}

.white {
    color: #FFF;
}

.small {
    margin-left: 600px;
}